stanza
numpy
scipy
pandas
matplotlib
transformers
conllu
torch
docker
pyqt6
PyQt6-WebEngine

# Annotation tools
spacy>=3.7.0
spacy-conll>=4.0.0
spacy-curated-transformers>=0.2.0

# Specific to macOS for GUI
opencv-python-headless
