# Ignore .tsv, .conllu, and .pk files
*.tsv
#*.conllu
*.pk
dictionnaire_specifs.pk
#*.txt
*.bmp

#Ignore CWB-specific files (makes pushing a nightmare: too many)
*.lexicon
*.lexicon.idc
*.corpus
*.rng
*.idx
*.cnt
*.rdx
*.rev
*.srt
*.avs
*.avx

# Ignore common system files
.DS_Store
Thumbs.db

# Ignore Python-specific files
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.venv/

# Ignore version control directories
.git/

# Ignore R stuff
.Rapp.history
.Rhistory
.spyproject/config/backups/workspace.ini.bak
.spyproject/config/backups/workspace.ini.bak
.spyproject/config/workspace.ini
.spyproject/config/workspace.ini
.spyproject/config/backups/workspace.ini.bak
.spyproject/config/backups/workspace.ini.bak
.spyproject/config/workspace.ini
.spyproject/config/backups/workspace.ini.bak
.spyproject/config/workspace.ini
